<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>TbPpUt4IgaF2hibAjqZwt8UIypQm23eXnUeWwU2eK%2F2aDuSttv5ToGxzKUThuLE7XkWWbkw9MqLG0fBC3Q7gPw%3D%3D</string>
</dict>
</plist>
